/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Header styles */
/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Aligns logo and nav items to opposite ends */
    padding: 20px 2rem; /* Top/bottom padding: 20px, Left/right padding: 2rem */
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: transparent; /* Transparency for the video background */
  }
  
  /* Logo styles */
  .nav__logo {
    color: white;
    font-size: 15px; /* Same font size for consistency with nav items */
    text-decoration: none;
    font-weight: 400; /* Bold for logo */
  }
  
  /* Nav list styles */
  .nav__list {
    display: flex;
    align-items: center;
    gap: 20px; /* Gap between nav items */
    list-style: none;
    margin: 0; /* Remove default margin */
  }
  
  /* Nav item styles */
  .nav__item {}
  
  /* Nav link styles */
  .nav__link {
    color: white;
    text-decoration: none;
    font-size: 15px; /* Same font size for consistency with logo */
    font-weight: 400; /* Regular font weight for nav links */
  }

/* Home section styles */
.home-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 0 100px;
    color: white;
    position: relative;
}

/* Hello container styles */
.hello-container {
    width: 50%;
    text-align: left;
}

/* Title styles */
.home__title {
    opacity: 1;
    font-size: 168px;
    line-height: 0.8;
    text-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
}

/* Lottie container styles (for animations) */
.lottie-container {
    width: 40%; /* Adjust the width as needed */
}

/* Responsive styles */
@media (max-width: 768px) {
    .nav__list {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__item {
        padding: 0.5rem 0; /* Provide adequate tap targets */
    }

    .hello-container, .lottie-container {
        width: 80%;
        margin-top: 20px;
    }

    .home__title {
        font-size: 5rem; /* Smaller font size for mobile */
    }
}

/* Background video styles */
#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Video overlay to enhance text readability */
#background-video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
    z-index: -1;
}
